body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: no-repeat center center fixed;
    backdrop-filter: blur(85px);
}

main {
    height: 100vh;
    display: flex;
    margin-inline: 36px;
    flex-direction: column;
    align-items: center;
}

header {
    color: white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    /* text-shadow: 1px 1px 14px black; */
    padding-block: 0.5rem;
    padding-inline: 2rem;
    line-height: 0;
    text-align: center;
    margin-top: 2.6rem;
}

header h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
}

canvas {
    /* Debug */
    /* border: 1px solid white; */
    grid-column: 2 / span 1;
    margin-top: 3rem;
    border-radius: 18px;
    max-width: 100%;
    object-fit: contain;
}

button {
    border: none;
    color: white;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    /* text-shadow: 1px 1px 14px black; */
    padding-block: 0.5rem;
    padding-inline: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: 0.12rem;
    text-align: center;
    margin-top: 2.5rem;
    transition: transform 0.14s ease-in-out;
    user-select: none;
}

button:hover {
    background: rgb(18, 204, 218);
    color: black;
}

#app-input {
    display: flex;
    gap: 20px;
}